:root {
    --primary-yellow: #FFF7D4;
    --secondary-yellow: #FFD95A;
    --tertiary-yellow: #C07F00;
    --text-primary: #4C3D3D;
    --background-black: #000000;
    --text-black: #333333;
    --accent-color: #FF9800;
}

/* Hiding the scrollbar */
body::-webkit-scrollbar{
    display: none;
}

.carousel-slide-item {
    height: 680px;
}

.carousel-slide-image {
    height: 100%;
    object-fit: cover;
    filter: brightness(1);
}

.section-headings h2 {
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.subsection-headings {
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.carousel-inner{
    position: relative;
}

/* .gradient{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADpCAYAAADlAl1mAAAAAXNSR0IArs4c6QAAAepJREFUOE9Fz/1rznEUxvFzNsYebMxmtpmN2ewB28yG2Yw92oyUpCQpSUlSkpKkJCVJSUqSkpT8kXp9v/e93T+87+tc5zrnfL6RUf1lKcu/LdSoavi1GrVaVG7bxHYeZB0Poo63o0RE7CyRkQXqXajnNVSQ0SDcaEGjblOJjGwS2VVFNms0K6lsMdHC280rsIcHVGarj2rl7bVvC21OtpltF4ZsV+7bRAfVYUGh9lsA0Ul1mijQZUGXXLeT3SIHSkQFPcoe3YO8LfTa3Mvr0+2T61MeshnicBVJZb/j/caOVBBUxIDZAd6gclBZqKMlMnKIGtIYlhtWUjnCG1GOlsjIUZFjugWOa0Ch8oQIxJjcmG6hxnnjyglqgjehPFkiIyapSQtOlYiIAlPKKWpabrpUEXG6RGac8RagIs9WkDlDzUSWKs5ZcI6apWZNFGqON+fQearAvNl53rzchSryookKImPBCxZMLAovegvEknKJWqaWRQqsiKxQq2ZX7bvkGpRqzZvXlOvUeqki4vImNqgNs4W6Ql2Fa05et+WG9Td5t3i34Y7jd6l71H2zD4Qfyj2Cx7wn8FTkmdc/V76w76XIK+VreANvNd7Z8l75AT668Un4M/XFlq8a3+A7/DDxU+QX/IY/Vv11999/QxExxjGDKzoAAAAASUVORK5CYII=);

    position: absolute;
    bottom: -100px;
    width: 100%;
    height: 300px;
    z-index: 5;
} */

.caption{
    position: relative;
    z-index: 10;
}

/* .more-padding {
    padding-left: 120px;
    padding-right: 120px;
} */

.issues-section {
    margin-top: 80px;
}

/* more-info-section styling */
.more-info-section {
    background-image: linear-gradient(rgba(22, 22, 22,  0.6), rgba(22, 22, 22, 0.8)), url("https://raw.githubusercontent.com/dev-satyamthakur/NGO-Cattle-Care/main/cow-images/cows-eating-together-min.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 4rem 0;
    overflow: hidden;
}

.more-info-section .img-section {
    position: relative;
}

.more-info-section .img-section img {
    padding: 12px;
    width: 70%;
}

/* Card Hover */

.card-box {
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.glass {
    backdrop-filter: blur(3px);
    background-color: rgba(225, 225, 225, 0.1);
}

.card-box:hover{
    transform: scale(1.04);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
