/* Hiding the scrollbar */
body::-webkit-scrollbar{
    display: none;
}

.carousel-slide-item {
    height: 680px;
}

.carousel-slide-image {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}

.section-headings h2 {
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.subsection-headings {
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}